{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "react/display-name": 0,
    "strict": 0,
    "indent": [
        "error",
        2
    ],
    "linebreak-style": [
        "error",
        "unix"
    ],
    "quotes": [
        "error",
        "single",
        "avoid-escape"
    ],
    "semi": [
        "error",
        "always"
    ],
  "global-require": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
