/*
/.*

!/.github
!bin/
!lib/
!settings.js
!docs/
/docs/public
/docs/node_modules
/docs/.cache
!package.json
!package-lock.json
!README.md
!CONTRIBUTING.md
!LICENSE
!CHANGELOG.md
!example/
!scripts/
!tap-snapshots/
!test/
!.travis.yml
!.gitignore
!.gitattributes
!coverage-map.js
!postpublish.sh
!netlify.toml
!.eslintrc.js
