/node_modules
/docs
/src/*/.tshy
/src/*/.tshy-build-tmp
/src/*/node_modules
/src/*/.tap
/.tap
/src/*/docs
/src/*/dist
!/src/test/dist
!/src/core/dist
!/src/after/dist
/tap-snapshots
/.tap
/src/*/.tap
