/node_modules
/src/*/example
/.github
/src/*/dist
/src/*/.tshy
/src/test/test-built
/src/*/docs
/src/*/tap-snapshots
/tap-snapshots
/src/*/test/**/fixture
/src/*/test/**/fixtures
/src/*/.tap
/src/*/LICENSE*
