/* make room for top menu */
html {
  scroll-padding-top: 3rem;
}
/* targeted anchors in md files */
a.tsd-anchor {
  height: 0;
  position: static;
}
/* targeted anchors in the property/method lists */
section.tsd-panel.tsd-member a.tsd-anchor:target {
  position: absolute;
  display: block;
  z-index: -1;
  top: -10px;
  left: -10px;
  border: 10px solid #fff;
  width: 100%;
  height: 100%;
}
