
p {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #333333;
  line-height: 1.5;
}

html {
  background-color:#f8f8f8;
}

a { color: #333333;
}

.active-navlink {
  background-color: #00ffff;
}

.active-sidebarlink {
  background-color: #204dff;
  color: #ffffff;
}

h1, h2, h3 {
 font-family: 'Titillium Web';
 color: #333333;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}


:not(pre) > code[class*="language-"] {
  background-color: transparent;
  color: #333;
}

pre[class*="language-"] {
  font-size: 12px;
}

