<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/opensans/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/Fira_Code_v6/fira_code.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/prismjs-tomorrow.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/tap-format.css' | url }}">
    <link rel="icon" href="{{ '/static/favicon.ico' | url }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
  </head>

  <body class="{% if bodyClass %}{{ bodyClass }}{% else %}{% if page.url != "/" %}content {{ page.url | slugify }}{% else %}index{% endif %}{% endif %}">
    {% renderFile "./_includes/layouts/top-nav.njk", {
      collections: collections,
      eleventyNavigation: eleventyNavigation,
      page: page,
      tapVersion: tapVersion
    } %}
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
