<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/index.css' | url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
  </head>

  <body>
    <div id="top">
      <h1><a href="/">Node TAP <small>{{ tapVersion }}</small></a></h1>
      <div id="site-nav">
        <nav>
  {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </nav>
      </div>
    </div>

    <main>
{{ content | safe }}
    </main>
</html>
