/*
/.*

/.attic
!/fixup.sh
!/tsconfig*.json
!/.github
!/src
!/package.json
!/package-lock.json
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/CHANGELOG.md
!/tap-snapshots/
!/test/
!/.gitignore
!/.gitattributes
!/map.js
!/index.js
!/.prettierignore
